@use '../../partials/dir';
@use '../../partials/screen';

.tabs-container {
  // put tabs on the left
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding-right: var(--sp-extra-tight);
}

@include screen.smallerThan(mobileBreakpoint) {
  .tabs__none-selected {
    .tabs__rendered {
      display: none;
    }
    .tabs {
      flex: 1;
    }
  }
  .tabs-container:not(.tabs__none-selected) {
    .tabs {
      display: none;
    }
  }
}

.tabs {
  box-shadow: inset 0 -1px 0 var(--bg-surface-border);

  &__content {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 var(--sp-normal);
  }

  &__rendered {
    width: 100%;
    height: 100%;
    padding-left: var(--sp-extra-tight);
  }
}

.tab-item {
  @include dir.side(padding, var(--sp-normal), 24px);
  box-shadow: none;
  border-radius: var(--bo-radius);

  &:focus,
  &:active {
    background-color: var(--bg-surface-active);
    box-shadow: none;
  }

  &--selected {
    --bs-tab-selected: inset 2px 0px 0 var(--tc-surface-high);
    background-color: var(--bg-surface-active);
    box-shadow: var(--bs-tab-selected);

    // cut off part of the border on the left so the box-shadow line works
    border-radius: 0 var(--bo-radius) var(--bo-radius) 0;

    & .ic-raw {
      background-color: var(--ic-surface-high);
    }
    & .text {
      font-weight: var(--fw-medium);
    }
    &:focus,
    &:active,
    &:hover {
      background-color: var(--bg-surface-active);
      box-shadow: var(--bs-tab-selected);
    }
  }
}
