@use '../../partials/text';

.file-header {
  display: flex;
  align-items: center;
  padding: var(--sp-ultra-tight) var(--sp-tight);
  min-height: 42px;

  & .file-name {
    @extend .cp-txt__ellipsis;
    flex: 1;
    color: var(--tc-surface-low);
  }

  & a {
    line-height: 0;
  }
}

.file-container {
  --media-max-height: 296px;
  --media-max-width: 460px;

  background-color: var(--bg-surface-hover);
  width: fit-content;
  max-width: 100%;
  height: 100%;
  border-radius: calc(var(--bo-radius) / 2);
}

.sticker-container {
  display: inline-flex;
  max-width: 128px;
  width: 100%;
  & img {
    width: 100% !important;
  }
}

.image-container,
.video-container,
.audio-container {
  font-size: 0;
  line-height: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  max-height: var(--media-max-height);
  max-width: var(--media-max-width);
}

.image-container,
.video-container {
  & img,
  & canvas,
  & video {
    height: 100%;
    width: auto;

    max-height: var(--media-max-height);
    max-width: var(--media-max-width);
  }
}
.image-container {
  height: 100%;
  width: fit-content;

  img {
    cursor: pointer;
  }
}

.video-container {
  position: relative;
  & .ic-btn-surface {
    background-color: var(--bg-surface-low);
  }
  & .ic-btn-surface,
  & .donut-spinner {
    position: absolute;
  }
}
.audio-container {
  audio {
    width: 100%;
  }
}

.embed-container {
  margin-top: 5px;

  --media-max-width: 500px;
  --media-max-height: 296px;

  max-width: var(--media-max-width);

  .embed {
    color: var(--tc-surface-low);
    background-color: var(--bg-surface-hover);
    border-radius: calc(var(--bo-radius) / 2);
    padding: var(--sp-ultra-tight);
    display: flex;
    gap: var(--sp-extra-tight);

    .embed-media {
      height: 100px;

      img {
        border-radius: calc(var(--bo-radius) / 2);
      }
    }

    .embed-text {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      flex-direction: column;
      gap: var(--sp-ultra-tight);

      .embed-title {
        // don't wrap
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .embed-description {
        // wrap
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 100%;
      }
    }
  }

  .embed-no-description {
    flex-direction: column;
  }
}
