@use '../../partials/dir.scss';
@use '../../partials/screen';

.space-settings {
  & .pw {
    background-color: var(--bg-surface-low);
  }

  & .room-profile {
    padding: var(--sp-loose) var(--sp-extra-loose);
  }

  & .tabs__content {
    padding: 0 var(--sp-normal);
  }

  &__cards-wrapper {
    padding: 0 var(--sp-normal);
    flex: 1;
    @include dir.side(padding, var(--sp-normal), var(--sp-extra-tight));
  }

  &__content {
    // put tabs on the left
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  // only show back button on mobile and only when a tab is selected
  &__back-btn {
    display: none;
  }
  @include screen.smallerThan(mobileBreakpoint) {
    &__back-btn {
      display: block;
      margin-right: var(--sp-tight);
      margin-left: calc(var(--sp-extra-tight) - var(--sp-normal));
    }
    &__back-btn-hidden {
      display: none;
    }
  }
}

.space-settings__card {
  margin: var(--sp-normal) 0;
  background-color: var(--bg-surface);
  border-radius: var(--bo-radius);
  box-shadow: var(--bs-surface-border);
  overflow: hidden;

  & > .context-menu__header:first-child {
    margin-top: 2px;
  }
}

.space-settings .room-permissions__card,
.space-settings .room-members {
  @extend .space-settings__card;
}
